body{
    font-family: roboto, arial;
    margin: 0;
    padding: 0;
}

.padding{
    padding: 18px 15%;
}

.header{
    font-size: 24px;
    font-weight: 800;
    color: #f9faf8;
    background-color: #1f2937;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 18px;
}

a{
    text-decoration: none;
    font-size: 18px;
    font-weight: 100;
    color: #e5e7eb;
}

.hero-content, .image{
    width: 50%;
    height: 80%;
    display: flex;
    align-items: center;
}

.image{
    background-color: #9c9d9f;
    justify-content: center;
}

.hero{
    background-color: #1f2937;
    height: 350px;
    display: flex;
    align-items: center;
    padding-top: 60px;
    padding-bottom: 60px;
}

.hero-title{
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;    
}

.text{
    font-size: 18px;
    color: #e5e7eb;
}

button{
    font-size: 18px;
    font-weight: bolder;
    color: white;
    background-color: #3882f6;
    padding: 8px 20px;
    border-radius: 10px;
    width: 120px;
    border: none;
}

.hero-content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 18px;
}

.galery{
    height: 350px;
    padding-top: 50px;
    padding-bottom: 100px;
}

.galery-title{
    text-align: center;
    font-size: 36px;
    color: #1f2937;
    font-weight:900;
    margin-bottom: 50px;
}

.card{
    width: 170px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.card-text{
    font-size: 18px;
    color: #65676b;
    text-align: center;
}

.card-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
}

.card-image{
    height: 150px;
    width: 150px;
    border: 5px #3882f6 solid;
    border-radius: 18px;
}

.quote{
    height: 350px;
    padding: 50px 25%;
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.quote-text{
    font-size: 36px;
    font-weight: 300;
    color: #1f2937;
    font-style: italic;
}

.quote-author{
    width: 100%;
    text-align: end;
    font-size: 24px;
    font-weight: bold;
}